* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    background-image: url(todo.jpg);
       background-size:   cover;
  }
  
  .container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 10px;
    min-height:434px;
    
    
  
    
  }
  
  header {
      text-align: center;
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
   
    align-items: center;
    background-color: #000000;
    color: #fff;
    
    padding: 1rem;
  }
  
  .input-wrapper {
    display: flex;
  }
  
  input[type="text"] {
    flex: 1;
    background-color: #e1e41a;
    padding: 10px;
    border: none;
    border-radius: 5px ;
  }
  
  button {
    padding: 10px;
    border: none;
    margin-left: 10px;
  
    border-radius: 5px 5px 5px 5px;
    background-color: #4CAF50;
    color: white;
    
    cursor: pointer;
  }
  button:hover{
      background: rgb(129, 225, 242);
      border-bottom-left-radius: 1rem;
      border-top-right-radius: 1rem;
  }
  
  .task-wrapper {
    margin-top: 20px;
    /* text-shadow: 2px 2px 2px rgb(243, 239, 239); */
  }
  h2{
      text-shadow: 2px 2px 2px rgb(243, 239, 239);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
      padding: 10px;
      margin-bottom: 5px;
    background-color: azure;
    font-weight: bold;
   
    border-radius: 5px;
  }
  .pending-tasks{
    background-color: rgb(218, 83, 83);
  }
  .completed {
    text-decoration: line-through #ff7300;
    opacity: 0.7;
    background-color: rgb(85, 203, 85);
  }
  footer {
    height: 5rem;
    text-align: center;
    
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    
  }
  
  footer:hover{
      color: #597ed4;
  }